*.class
*.log
project/
target/
.bsp/
.idea/
.metals/
.vscode/
a.out

hs_err_pid*

# Test
**/*/testwc*

# Benchmark
benchcanonwcmmap
benchcanonwsmmap
benchcanoncfmmap
benchmmap*
benchread*
**/*/*.jar
**/*/benchlibhdfs*mmap

